<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <div> Our URLs: </div>
    <ul>
        <% for (var url in urls) { %>  
            <% urlOwner = urls[url].userID
                userID = user
                console.log("owner is " + urlOwner + ", user is " + userID)
                %>
            <% if(urlOwner == userID ) { %>
            <li>
                <%= url %> : <%= urls[url].longURL %>
                <a href="/urls/<%=url%>">Edit</a>
                <form method="POST" action="/urls/<%=url%>/delete" id=<%=url%> >
                    <input type="hidden" name="delTarg" value=<%= url %> >
                </form>
                <button type="submit" form=<%=url%> value="Submit">Delete</button> 
                

            </li>
            <% } %>
        <% }; %>
    </ul>
</body>
<header>
    <% include partials/_header %>
</header>

</html>