<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>
        <% for (var url in urls) { %>
            <li>
                <%= url %>
                <form method="POST" action="/urls/<%=url%>/delete" id=<%=url%> >
                    <input type="hidden" name="delTarg" value=<%= url %> >
                </form>
                <button type="submit" form=<%=url%> value="Submit">Delete</button> 
                

            </li>
        <% }; %>
    </ul>
</body>
<header>
    <% include partials/_header %>
</header>

</html>